{% extends 'app/dummy.html' %}
{% load static %}

{% block title %}
<title>Create Form</title>
{% endblock %}

{% block body_block %}

{% if form.instance.pk %}
<h1>Update School Details</h1>
{% else %}
<h1>Add New School</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}


    {% if form.instance.pk %}
        <input type="submit" value="Update" class="btn btn-info">
    {% else %}
        <input type="submit" value="Create" class="btn btn-success">
    {% endif %}

</form>

{% endblock %}